:root {
/*---------------------------------------*/
  --aqua: aqua;
  --dark: black;
  --light: white; 
  --error: rgb(206, 5, 5);
  --success: rgb(3, 102, 3);
  --gray: rgb(240, 240, 240);
  --gray-dark: rgb(23,23,23);
  --naval-blue: rgba(1,33,55);
  --electron-blue: rgb(8, 115, 187);
  --custom-gray: rgb(195, 196, 197);
  --light-web-blue: rgb(12, 209, 235);
/*---------------------------------------*/
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
/*---------------------------------------*/
}
/*----------------------------- END --------------------------------*/
/*--------------- ROOT, FORMAT, CONTAINER SECTION ------------------*/
#root {
  margin: 0;
  width: 100%;
}
div#format {
  margin: 0;
  width: 100%;
}
div#container {
  margin: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  background-color: var(--dark);
}
/*----------------------------- END --------------------------------*/
/*------------------------- ABOUT SECTION --------------------------*/
div#container div#master {
  margin: 0;
  width: 50%;
  height: auto;
  border: 1px solid var(--aqua);
}
div#container div#master:nth-child(2) {
  border-left: none; 
  background-size: cover;
  background-color: var(--dark);
  background-image: url(./assets/images/world.jpg);
}
div#container div#master section#about-desc-main {
  margin: 30px;
  display: flex;
  padding: 20px;
  border-radius: 10px;
  flex-direction: column;
  border: 1px solid var(--aqua);
  width: calc(100% - 64px - 40px);
  background-color: var(--naval-blue);
}
div#container div#master section#about-desc-main section#img-and-desc {
  height: auto;
  display: flex;
  flex-direction: row;
}
div#container div#master section#about-desc-main section#img-and-desc div#personal-img {
  border-right: 1px solid var(--aqua);
}
div#container div#master section#about-desc-main section#img-and-desc div#personal-img img {
  height: 100px;
  margin: 100px 50px;
  border-radius: 10px;
  border: 1px solid var(--aqua);
}
div#container div#master section#about-desc-main section#img-and-desc div#short-desc {
  padding: 20px;
  font-size: x-large;
  color: var(--light);
  border: 0px solid var(--aqua);
}
div#container div#master section#about-desc-main section#img-and-desc div#short-desc span#stack, 
div#container div#master section#about-desc-main section#img-and-desc div#short-desc span#mern {
  font-size: 40px;
  color: var(--light);
  font-weight: bolder;
}
div#container div#master section#about-desc-main section#img-and-desc div#short-desc span#mern {
  color: var(--aqua);
}
div#container div#master section#about-desc-main section#img-and-desc div#short-desc #arrowIcon {
  font-size: 40px;
  color: var(--aqua);
  font-weight: bolder;
  font-family: "Roboto", sans-serif;
}
div#container div#master section#about-desc-main section#img-and-desc div#short-desc p#brandsIcons img, 
div#container div#master section#about-desc-main section#img-and-desc div#short-desc p#brandsIcons #brands-icons {
  width: auto;
  height: 100px;
  padding: 10px; 
  margin-top: 3px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 0px solid var(--aqua);
}
div#container div#master section#about-desc-main section#img-and-desc div#short-desc p#brandsIcons #brands-icons {
 margin-bottom: 3px;
}
div#container div#master section#about-desc-main section#img-and-desc div#short-desc p#brandsIcons {
  height: 129px;
  border: 0px solid var(--aqua);
}
div#container div#master section#about-desc-main section#img-and-desc div#short-desc p#brandsIcons #brands-icons {
  color: var(--aqua);
}
div#container div#master section#about-desc-main section#description {
  border-top: 1px solid var(--aqua);
}
div#container div#master section#about-desc-main section#description div#long-desc {
  font-size: large;
  color: var(--light);
}
/*----------------------------- END --------------------------------*/
/*-------------------------- FORM SECTION --------------------------*/
div#container div#master-contact {
  margin: 0;
  width: 100%;
  height: auto;
  border: 0px solid var(--aqua);
}
div#container div#master-contact section#contact-sec {
  display: flex;
  padding: 30px;
  margin: 0 auto;
  border-radius: 10px;
  flex-direction: column;
  border: 1px solid var(--aqua);
  width: calc(100% - 64px - 40px);
  background-color: var(--naval-blue);
}
div#container div#master-contact section#contact-sec section#contact-sec-sub {
  height: auto;
  display: flex;
  flex-direction: row;
}
div#container div#master-contact section#contact-sec section#contact-sec-sub div#contact-inner {
  width: 35%;
  margin: 0 auto;
  font-size: x-large;
  color: var(--light);
  border-radius: 10px;
  padding: 0 60px 30px 60px;
  border: 1px solid var(--aqua);
  background-color: var(--gray-dark);
}
div#container div#master-contact section#contact-sec section#contact-sec-sub div#contact-inner span#contactTitle, 
div#container div#master-contact section#contact-sec section#contact-sec-sub div#contact-inner span#contactForm {
  font-size: 40px;
  color: var(--light);
  font-weight: bolder;
}
div#container div#master-contact section#contact-sec section#contact-sec-sub div#contact-inner span#contactTitle {
  color: var(--aqua);
}
div#container div#master-contact section#contact-sec section#contact-sec-sub div#contact-inner #arrowIcon {
  font-size: 40px;
  color: var(--aqua);
  font-weight: bolder;
  font-family: "Roboto", sans-serif;
}
form#contact-form {
  background-color: var(--naval-blue);
}
label {
  font-size: 21px;
  margin: 0 0 0 10%;
  color: var(--aqua);
  font-weight: bolder;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
}
table#contact-tbl {
  width: 100%;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 1px solid var(--aqua);
}
table#contact-tbl tr td {
  width: 50%;
  border: 0px solid var(--electron-blue);
}
label[for=firstName] {
  margin-left: 20%;
}
label[for=lastName] {
  margin-left: 10px;
}
input[type=text][name="firstName"], 
input[type=text][name="lastName"] {
  width: calc(100% - 20% - 21px);
} 
input[type=text][name="firstName"] {
  margin-left: 20%;
} 
input[type=text][name="lastName"] {
  margin-left: 10px;
}
textarea[type=text][name="message"] {
  height: 100px;
}
input[type=text] {
  height: 30px;
}
input[type=text], textarea[type=text] {
  font-size: 18px;
  border-radius: 5px;
  width: calc(80% - 12px);
  margin: 10px 0 10px 10%;
  padding: 5px 5px 5px 5px;
  border: 1px solid var(--aqua);
  background-color: var(--custom-gray);
  font-family: "Roboto", sans-serif;
}
input::placeholder, 
textarea::placeholder {
  font-size: 18px;
  line-height: 1;
  font-family: "Roboto", sans-serif;
}
button#submit {
  width: 80%;
  height: 50px;
  font-size: 30px;
  cursor: pointer;
  color: var(--aqua);
  border-radius: 5px;
  font-weight: bolder;
  letter-spacing: 1px;
  margin: 10px 0 0 10%;
  font-family: "Roboto", sans-serif;
  border: 1px solid var(--electron-blue);
  background-color: var(--electron-blue);
}
button#submit:hover {
  border: 1px solid var(--aqua);
}
span#shevron {
  font-family: 'furore', Tahoma, Geneva, Verdana, sans-serif;
}
span#error, 
div#error-message {
  font-weight: bold;
  color: var(--error);
}
div#error-message {
  padding-top: 20px;
  padding-left: 64px;
}
/*----------------------------- END --------------------------------*/